{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password reset confirm{% endblock title %}Password reset

{% block content %}
{% include "home_navbar.html" %}
<div class="my-7 container col-12 col-lg-8">
    <div>
        <h4>Set new password</h4>        
    </div>
    <div>
        <form method="post">{% csrf_token %}
            {{form | crispy}}
            <input type="submit" value="Set Password" class="btn btn-success"/>
        </form>
    </div>
</div>
{% endblock content %}

