{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password reset{% endblock title %}Password reset

{% block content %}
{% include "home_navbar.html" %}
<div class="my-7 container col-12 col-lg-8">
    <div class="mt-7">
        <h4>Password Reset</h4>
        <p>Enter your registered email to reset your password...</p>
    </div>
    <div>
        <form method="post">{% csrf_token %}
            {{form | crispy}}
            <input type="submit" value="Get Instructions" class="btn btn-success"/>
        </form>
    </div>
</div>
{% endblock content %}

