{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}

{% block content %}
{% include 'user_navbar.html' %}
    <div class="row my-7">
        <div class="p-3 col-10 col-lg-4 m-auto border border-3 border-success rounded-3" style="height: auto;">
            <div class="bg-success neg-margin-pwd-change p-1 mb-3">
                <h5 class="text-light">Change Password</h5>
            </div>
            <form method="post">{% csrf_token %}
                {{form | crispy}}
            
            <input type="submit" class="btn btn-success"></input> 
            <a class="btn btn-secondary" href="{% url 'user_profile' %}">Cancel</a>
            
            </form>
        </div>
    </div>
{% endblock content %}