{% extends 'base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
    <header>        
        {% include 'user_navbar.html' %}        
    </header>
    <h1 class="text-warning text-center my-5">Hi, {{user.username}}<br/>Welcome to your Dashboard </h1>  
    
    <div class="mt-5"></div>
    
{% endblock content %}
{% block footer %}
<div class="row bg-success fixed-bottom">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px 0px 0px 0px">
        <p class="text-center text-light">©Abuu Ibtisaam - <span id="currentYear"></span></p>
    </div>        
</div> 
<script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>
{% endblock footer %}